:root {
    font-family: "Open Sans";
    --navbar-size: 200px;
    --navbar-close-size: 100px;
}

@media print {

    .no-print {
        display: none;
        margin-left: 0;
        margin-top: 0;
        top: 0;
        left: 0;
    }
    body {
        background-color: white !important;
    }
    .page-body {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    button {
        display: none;
    }
    form {
        display: none;
    }
    h2 {
        display: none;
    }
    label {
        display: none;
    }
    input {
        display: none;
    }
    b {
        display: none;
    }
    br {
        display: none;
    }
    #removerExemploHistorico {
        display: none;
    }
    #removerData {
        display: none;
    }

    table {
        left: 0;
        margin-left: 0;
        margin-right: 50%;
    }

}

.page-body {

    margin-left: 125px;
    margin-top: 2vw;
}

#side-bar {

    background-color: #421f80;

    width: var(--navbar-close-size);
    height: 100vh;

    position: fixed;

    top: 0;
    left: 0;

    transition: .25s;

}

#side-bar:hover {
    width: var(--navbar-size);
}

#side-bar-list {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;

}

.side-bar-link {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 3vw;
    width: var(--navbar-close-size);

    text-decoration: none;

    color: white;

    transition: .25s;

}

.icon {

    height: calc(var(--navbar-close-size) - 25px);
    width: calc(var(--navbar-close-size) - 25px);
}

.side-bar-link:hover {
    background-color: #51308a;
    width: var(--navbar-size);
}

.side-bar-link:hover .side-icon {
    display: none;
}

.side-bar-link:hover .link-text-display {
    display: block;
}

.link-text-display {
    display: none;
}

h2 {
    border-bottom: 1px solid rebeccapurple;
}

input {
    border-radius: .5vw;
    border: 2px solid rebeccapurple;
    padding: 5px;
}

button {
    border-radius: .5vw;
    border: 2px solid rgb(167, 30, 172);
    padding: 5px;
    transition: .5s;
}

button:hover {
    border: 2px solid rgb(247, 0, 255);
}

form label {
    border-left: 1x solid rebeccapurple;
}

body {
    background: rgba(92, 65, 110, 0.3);
}   

table {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}
